@mixin transition($transition){
	-webkit-transition:$transition;
	-o-transition:$transition;
	-moz-transition:$transition;
	-ms-transition:$transition; 
	transition:$transition;
}
@mixin transform($transform){
	-webkit-transform:$transform;
	-o-transform:$transform;
	-moz-transform:$transform;
	-ms-transform:$transform;
	transform:$transform;
}
@mixin opacity($opacity){
	opacity: $opacity;
	filter: alpha(opacity=$opacity*100);
}
@mixin transform-origin($origin){
	-webkit-transform-origin:$origin;
	-o-transform-origin:$origin;
	-moz-transform-origin:$origin;
	-ms-transform-origin:$origin;
	transform-origin:$origin;
}
@mixin scale($scale){
	-webkit-transfrom:scale($scale);
	-o-transform:scale($scale);
	-moz-transform:scale($scale);
	-ms-transform:scale($scale);
	transform:scale($scale);
}