html,body,ul,li,ol,a{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Microsoft Yahei';
	font-size: 12px;
}
.selector{
	width:40%;
	margin: 20px auto;
	/*background-color: yellow;*/
}
.selector .row{
	width: 100%;
	height:44px;
	line-height: 44px;
}
.selector .row .header{
	width: 30%;
	color: #838383;
	float: left;
	text-indent: 10px;
}
.selector .row .content{
	width: 70%;
	/*background-color: red;*/
	float: left;
}
.selector .row .content ul li{
	width: 35px;
	height: 30px;
	border: 1px solid #838383;
	text-align: center;
	line-height: 30px;
}



